<h1>New game</h1>

<div>
  <% @letters = ('a'..'z').to_a.sample(10) %>
  <% @letters.each do |letter| %>
    <div class="affichage">
      <p> <%=letter%></p>
    </div>
  <% end %>
</div>

<form action="/score" method="post">
  <input type="text" name="word">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit">
</form>
